* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    min-height: 100vh;
}

/*------------------------------ Sidebar styling, left vertical section ------------------------*/
.sidebar {
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.logo-box {
    width: 30px;
    height: 30px;
    background-color: white;
    color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

nav a:hover {
    background-color: #0056b3;
}

nav .active {
    background-color: #0056b3;
    border-radius: 6px;
    margin: 0 8px;
}

/*------------------------- Top bar, on top of Add New Student Form ---------------------------*/
header {
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.admin-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

.page-header i,
.admin-profile i {
    font-size: 16px;
    font-weight: 16px;
    cursor: pointer;
}

.page-header h2, 
.admin-profile h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

/* ---------------------------- Add New Student Form --------------------------*/
.student-form {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: white;
    width: 100%;
}

.student-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select {
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
}

input:focus, 
select:focus {
    border-color: navy;
    box-shadow: 0 2px 4px rgba(27, 2, 253, 0.3);
}

/*----------------- Buttons styling -----------------*/
.buttons-container {
    display: flex;
    gap: 10px;
}

.form-btn {
    border: 1px solid #ccc;
    outline: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.form-btn:active {
    transform: translateY(2px);
}

.btn-save {
    background-color: navy;
    color: white;
}

.btn-reset {
    background-color: white;
    color: #000;
}

/* --------------------------- Table ---------------------------*/
.table-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    width: 100%;
}

.table-container h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.student-table td {
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
}

.student-table th {
    background-color: #ddd;
    color: black;
    padding: 6px 12px;
    text-align: left;
} 

.student-table th, 
.student-table td {
    border-bottom: 1px solid #ccc;
}

.student-table tbody tr {
    transition: background-color 0.3s ease;
}

.student-table tbody tr:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.table-btn {
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
}

.table-btn:hover {
    text-decoration: underline;
}

.btn-edit {
    color: rgb(76, 12, 253);
}

.btn-danger {
    color: rgb(253, 12, 12);
}